.item .buttons button {
    background: transparent;
    border: none;
    border-radius: 40px;
    margin-left: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: initial;
}

.item .buttons button > *:hover {
    font-size: medium;
    color: #2536B4;
}

.item .buttons button > * {
    color: #BEC6FF;
}

.completed .item .buttons button > * {
    color: #8186ad;
}

.completed .item .buttons button > *:hover {
    color: #32343b;
}
