.lists {
    margin: 20px 0;
    min-height: 50px;
    width: 100%;
    max-width: 500px;
}

.list {
    margin: 20px 0;
    background: white;
    min-height: 50px;
    border-radius: 30px;
    border: 1px solid #BEC6FF;
    overflow: hidden;
    box-shadow: 0 10px 35px -20px #586087;
}

.list.completed {
    background: #9fa6d6;
    border-color: transparent;
    box-shadow: 0 10px 35px -20px transparent;
}

/*
.list .item > * {
    color: #6c77b0;
}

.list:hover .item > * {
    color: #BEC6FF;
}
*/

.no-items > * {
    text-align: center;
    color: #BEC6FF;
}

